/* 背景色與字體設定 */
.customerpage-container {
    background-color: #282c34;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* 標題樣式 */
  .customerpage-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* 表單容器 */
  .customerpage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  /* 標籤樣式 */
  .customerpage-label {
    font-size: 1.2rem;
    text-align: left;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  /* 輸入框樣式 */
  .customerpage-input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    width: 100%;
  }

  .password-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-toggle {
    background: none;
    border: none;
    color: #d3d3d3; /* 淺灰色 */
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .password-toggle:hover {
    color: #61dafb;
  }
  
  /* 按鈕容器 */
  .customerpage-buttons {
    display: flex;
    flex-direction: column; /* 讓 Login 按鈕垂直排列 */
    gap: 20px;
    margin-top: 20px;
    width: 300px;
  }
  
  .customerpage-button-login {
    background-color: #61dafb;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .customerpage-button-login:hover {
    background-color: #21a1f1;
    transform: scale(1.1);
  }

  
  /* 其它按鈕的容器，並排顯示 */
  .customerpage-button-other {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  
  /* Return HomePage 和 Register 按鈕的樣式 */
  .customerpage-button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
    width: 48%; /* 使這兩個按鈕各占容器的一半寬度 */
  }
  
  /* 按鈕懸停效果 */
  .customerpage-button:hover {
    transform: scale(1.1);
    background-color: #21a1f1;
  }
  