body {
    margin: 0; /* 移除預設的邊距 */
    padding: 0;
    background-color: #20232a; /* 深色背景 */
    color: #ffffff; /* 文字顏色設置為白色以提高對比 */
    font-family: Arial, sans-serif; /* 設定字體樣式 */
  }

.inventory-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #61dafb; /* React logo 的主藍色 */
    border-radius: 10px;
    background: linear-gradient(135deg, #282c34, #20232a); /* React 背景深藍漸層 */
    color: #ffffff; /* 白色字體 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .inventory-title {
    text-align: center;
    color: #61dafb; /* React logo 的主藍色 */
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase; /* 全大寫文字 */
    font-weight: bold; /* 加粗 */
    letter-spacing: 2px; /* 增加字母間距 */
  }
  
  .inventory-table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff; /* 白色字體 */
  }
  
  .inventory-table th,
  .inventory-table td {
    border: 1px solid #61dafb; /* React 主藍色邊框 */
    padding: 10px;
    text-align: center;
    background-color: #20232a; /* React 的深灰背景 */
    color: #61dafb; /* React 主藍色字體 */
  }
  
  .inventory-table t {
    background-color: #20232a; /* React 的深灰背景 */
    color: #61dafb; /* React 主藍色字體 */
  }
  
  .inventory-input {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #61dafb; /* React 主藍色 */
    border-radius: 5px;
    background-color: #282c34; /* 深藍背景 */
    color: #ffffff; /* 白色字體 */
    font-size: 14px;
  }
  
  .inventory-input::placeholder {
    color: #61dafb; /* React 主藍色 */
  }
  
  .inventory-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;/* 方圓角 */
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
    color: #ffffff; /* 白色字體 */
    transition: background-color 0.3s ease;
  }
  
  .add-button, .save-button, .search-button, .edit-button, .delete-button {
    background-color: #61dafb; /* React 主藍色 */
  }
  
  .add-button:hover, .save-button:hover, .search-button:hover, .edit-button:hover, .delete-button:hover {
    background-color: #ffffff;
    color: #20232a;
  }
  
.add-button {
    margin-right: 10px;
}

.save-button {
    margin-right: 10px;
}

.search-button {
    margin-right: 10px;
}

.deleted-row {
  text-decoration: line-through;
  color: gray;
}

.highlight-row {
  background-color: #ffa500;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}


.search-container input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 12px; 
  flex: none;
}

.search-container button {
  padding: 5px 10px;
  background-color: #61dafb;
  color: #20232a;
  border: none;
  cursor: pointer;
}
  
.search-container button:hover {
  background-color: #ffffff;
  color: #20232a;
  transform: scale(1.1);
}
.item-image {
width: 50px;
height: 50px;
object-fit: cover;
}

.search-container input:focus {
  border-color: #61dafb; 
}

/* 按鈕樣式 */
.search-button,
.add-button,
.save-button,
.edit-delete-button {
  background-color: #61dafb;
  color: black;
  border-color: #61dafb;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 10px;
}

.search-button:hover,
.add-button:hover,
.save-button:hover,
.edit-delete-button:hover {
  background-color: linear-gradient(90deg, #282c34, #61dafb); /* 滑鼠懸停時的顏色 */
}

.edit-delete-button {
  margin-right: 5px;
  transform: scale(1.1);
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #61dafb;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #21a1f1;
  transform: scale(1.1);
}

.manage-users-button {
  background-color: #21a1f1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  float: right;
  margin: 10px; 
}

.manage-users-button:hover {
  background-color: #21a1f1;
  transform: scale(1.1);
}
